@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme static {
  --font-sans: "Varela Round", "Roboto Serif", "Public Sans", sans-serif;
  --font-display: "Roboto Serif", "Public Sans", sans-serif;
  --font-display2: "Satoshi Regular", "Public Sans", sans-serif;
  --color-primary-50: #effdf5;
  --color-primary-100: #d9fbe8;
  --color-primary-200: #b3f5d1;
  --color-primary-300: #75edae;
  --color-primary-400: #00dc82;
  --color-primary-500: #00c16a;
  --color-primary-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
  --scale: 1.2;
  --text-h1: calc(1rem * pow(var(--scale), 5));
  --text-h2: calc(1rem * pow(var(--scale), 4));
  --text-h3: calc(1rem * pow(var(--scale), 3));
  --text-h4: calc(1rem * pow(var(--scale), 2));
  --text-h5: calc(1rem * pow(var(--scale), 1));
  --text-h6: calc(1rem * pow(var(--scale), 0));
}
@layer utilities {
  .display-h6 {
    @apply text-[var(--text-h6)] font-display;
  }
  .display-h5 {
    @apply text-[var(--text-h5)] font-display;
  }
  .display-h4 {
    @apply text-[var(--text-h4)] font-display;
  }
  .display-h3 {
    @apply text-[var(--text-h3)] font-display;
  }
  .display-h2 {
    @apply text-[var(--text-h2)] font-display;
  }
  .display-h1 {
    @apply text-[var(--text-h1)] font-display;
  }
  .text-h6 {
    @apply text-[var(--text-h6)] font-sans;
  }
  .text-h5 {
    @apply text-[var(--text-h5)] font-sans;
  }
  .text-h4 {
    @apply text-[var(--text-h4)] font-sans;
  }
  .text-h3 {
    @apply text-[var(--text-h3)] font-sans;
  }
  .text-h2 {
    @apply text-[var(--text-h2)] font-sans;
  }
  .text-h1 {
    @apply text-[var(--text-h1)] font-sans;
  }
}
